{% load google_analytics %}
{% load analytical %}
{% load compress %}
{% load i18n %}
{% load uservoice %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% analytical_head_top %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>{% block title %}Plusit{% endblock %}</title>
    <link href="//cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--link href="{{ STATIC_URL }}css/variables.css" rel="stylesheet" type="text/css"-->
    {% compress css %}
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/icons-test-set.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/icons-test-set-embedded.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/jquery.calculator.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/persona-buttons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/icons-test-set-ie7.css"><![endif]-->
    {% endcompress %}
    <link href="//cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link href="//cdn.jsdelivr.net/intro.js/0.5.0/introjs.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/pingdom.js"></script>
    {% block localcss %}
    {% endblock %}
    {% analytical_head_bottom %}
    
    <!--
    <link href="{{ STATIC_URL }}css/variables.less" rel="stylesheet/less"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
    -->
    {% google_analytics %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{ STATIC_URL }}img/plusit.png" />
    <meta property="og:title" content="Plusit" />
    <meta property="og:description" content="Achievements tracker. Make targer, track progress, achieve result." />
</head>
<body>
    {% analytical_body_top %}
<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Short help</h4>
        </div>
        <div class="modal-body">
            <div>
                <h4>Please visit Plusit <a href="https://moot.it/plusit#!/achievements" target="_blank">forum</a> and <a href="https://moot.it/plusit#!/news" target="_blank">news</a>.</h4>
                <h4>Terms:</h4>
                    <ul>
                        <li><strong>Plusit</strong> - is an instance of your achivements. Create it and plus in everything you do for particular achievement. 
                            You add numbers here, thats why it called Plusit. Plusit also gives you ability to browse history and analyze what was done.</li>
                        <li><strong>Template</strong> - this is what makes it easier to create new Plusits. You can find one in Templates list or create new ones. 
                            When you find a template you can create new Plusit from it by no or minimal changes.</li>
                        <li>
                            <strong>Calculations for your Plusits</strong>
                            <ul>
                                <li><strong>Calculation</strong> - this is type of calculation you can perform on any Plusit data. There are only 2 simple calculation types
                                    available now: Period Sum, and Average. Both of them are aplied for a selected calculation period. So if you don't get any data some times 
                                    it is just because it is impossible to get reasonable data yet.</li>
                                <li><strong>Calculation Period</strong> - you can choose one of those periods for your calculations: Daily, Weekly, Monthly or Yearly. </li>
                                <li>
                                    When you create Plusit you set some calculations parameters as default values. When you view Plusit you can choose any active combination. 
                                    Or you can change default values in Plusit editor.
                                </li>
                            </ul>
                        </li>
                    </ul>
            </div>
            <div>
            <h4>Buttons:</h4>
                <ul>
                   <li><i class="icon-plusit-plus-1 large"></i> Use this symbol to create new Plusit or template, or instantiate Plusit from template</li>
                   <li><i class="icon-plusit-puzzle"></i>Use this symbol to go to templates list</li>
                   <li><i class="icon-plusit-help"></i>Help</li>
                   <li><i class="icon-plusit-logout"></i> Logiout </li>
                   <li><i class="icon-plusit-pencil"></i> Edit Plusit values or change defaults </li>
                   <li><i class="icon-plusit-menu"></i> Go to Plusits list </li>
                   <li><i class="icon-plusit-eye"></i> View Plusit after changes done </li>
               </ul>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

	<div class="container wrapper row">
            <div>
                <div class="row">
                    <div>
                        <header  class="navbar navbar-static-top">
                            {% block header %}
                                {% include "header.html" %}
                            {% endblock %}
                        </header>
                    </div>
                </div>
                <div  class="row">
                    {% block navigation %}
                    {% include "navigation.html" with current_view=current_view %}
                    {% endblock %}
                </div>
                <div class="row">
                    <div  data-intro='In general there are few terms you need to know: <ul><li>Plusit - is an instance of your achivements. Create it and plus in everything you do for particular achievement. You add numbers here, thats why it called Plusit. Plusit also gives you ability to browse history and analyze what was done.</li><li>Template - this is what makes it easier to create new Plusits. You can find one in Templates list or create new ones. When you find a template you can create new Plusit from it by no or minimal changes.</li></ul>' data-step='2'>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
{% analytical_body_bottom %}
{% uservoice %}
</body>
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.jsdelivr.net/jqplot/1.0.8/jquery.jqplot.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.cursor.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.jsdelivr.net/jqplot/1.0.8/plugins/jqplot.trendline.min.js"></script>
    <script src="//browserid.org/include.js" type="text/javascript"></script>
    <script src="//cdn.jsdelivr.net/intro.js/0.5.0/intro.js"></script>
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqBootstrapValidation.js"></script>
    {% endcompress %}
    
    {% block localscripts %}
    {% endblock %}

{% compress js %}    
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/orwGFDSIcpLBH1n29wZ8lw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['addTrigger', {}]);</script>
    <script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
{% endcompress %}

</html>
