<div class="row page-header">
    <div >
        <div class="col-md-8 site_name">
            <a href="{% if user.is_authenticated %}{% url "plusits" %} {% else %} {% url "home" %}{% endif %}">
            <div >
                <h1>
                    <span class="alfa"><sub>&#x3B1;</sub></span>
                    +it
                </h1>
            </div>
            </a>
        </div>
        <div class="col-md-4">
        {% if not user.is_authenticated %}
            <span>Login/register</span>
            <a href="{% url 'socialauth_begin' 'twitter' %}?{{ redirect_querystring }}"><i class="icon-plusit-twitter large"></i></a>
            <a href="{% url 'socialauth_begin' 'facebook' %}?{{ redirect_querystring }}"><i class="icon-plusit-facebook large"></i></a>
            <a href="{% url 'socialauth_begin' 'google' %}?{{ redirect_querystring }}"><i class="icon-plusit-gplus large"></i></a>

        {% else %}
            <div>
                <img src="{{ request.session.avatar_url }}" width="50px" height="50px" style="float: right"/>
            </div>
        {% endif %}
        </div>
    </div>
</div>