{% extends "base.html" %}
{% load i18n %}

{% block title %}Plusits home {% endblock %}
{% block localscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plusit_view.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="mobile-h1">Achievement tracker</h1>

            <p class="lead">Log and track your achievements, whenever you can have numeric values. </p>
            <div>
                <span>Please  register/login with one of these systems: </span>
                <a href="{% url 'socialauth_begin' 'twitter' %}?{{ redirect_querystring }}"><i class="icon-plusit-twitter large"></i></a>
                <a href="{% url 'socialauth_begin' 'facebook' %}?{{ redirect_querystring }}"><i class="icon-plusit-facebook large"></i></a>
                <a href="{% url 'socialauth_begin' 'google' %}?{{ redirect_querystring }}"><i class="icon-plusit-gplus large"></i></a>

            </div>
            <span>Currently there is no support for accounts merging. System will create new account for each social network.</span>
            <span>Read more about service <a href="https://moot.it/plusit#!/achievements#what-is-this"  target="_blank">here</a></span>
        </div>
        <hr>
        <div class="row marketing">
            <div class="col-md-6">
                <h4>Want to make 20 pull ups?</h4>

                <p>Make a target
                </p>
                <h4>Do some pull-up's</h4>

                <p>Register them every time
                </p>
                <h4>See progress</h4>

                <p>Modify your program </p>
                <h4>See progress again</h4>

                <p>Make your progress better with each step.</p>
            </div>
            <div class="col-md-6">
                <h4>Want to decrease you fuel consumption?</h4>

                <p>Fill in ammount every time, or liters/100km 
                </p>
                <h4>See when and why it grows</h4>

                <p>Change consumtion behavior</p>
                <h4>See results</h4>

                <p>Have green success.</p>
            </div>
        </div>
        <hr>
        <div class="footer">
            
        </div>
    </div>
{% endblock %}
