<div class="plus-nav">
    {% if current_view == 'plusits' %}
        <ul class="nav nav-pills" data-intro='Here are controls' data-step='3'>
            <li data-intro='Use this button to create new plusit' data-step='4'>
                <a class="plus-tooltip" href="{% url "plusit_create" %}" title="Create Plusit"><i class="icon-plusit-plus-1 large"></i></a>
            </li>
            <li data-intro='This button will lead you to the Templates list, where you can create new one, or instantiate what you like' data-step='5'>
                <a class="plus-tooltip" href="{% url "templates" %}?language=eng" title="Templates list"><i class="icon-plusit-puzzle"></i></a>
            </li>
            <li data-intro='Wellcome to our small tutorial. Here we will tell you about basics of this site. If you want you can leave tutorial now and restart it later from help menu.' data-step='1'>
                <a data-toggle="modal" href="#myModal" class="plus-tooltip" title="Help" ><i class="icon-plusit-help large"></i></a>
            </li>
            
            <li data-intro='If you are done, you can logout, but remember to return' data-step='20'>
                <a class="plus-tooltip" href="{% url 'logout' %}" title="Logout"><i class="icon-plusit-logout large"></i>
                </a>
            </li>
            {% if new_user %}
                <li class="intro_icons" data-intro='Use pencil to edit your Plusit data or default chart types' data-step='6'>
                    <a href="#"><i class="icon-plusit-pencil large"></i></a>
                </li>
                <li class="intro_icons" data-intro='This button will lead you to Plusits list' data-step='7'>
                    <a href="#"><i class="icon-plusit-menu large"></i></a>
                </li>
                <li class="intro_icons" data-intro='This button will let you create new Plusit or Template, depending on your location.<br/> Plus button will instantiate template or add new value' data-step='8'>
                    <a href="#"><i class="icon-plusit-plus-1 large"></i></a>
                </li>
            {% endif %}
        </ul>
    {% elif current_view == 'plusit' %}
        <ul class="nav nav-pills">
            <li>
                <a href="{% url "plusit_values" plusit.pk %}" class="plus-tooltip" title="Edit Plusit values"><i class="icon-plusit-pencil large"></i></a>
            </li>
            <li>
                <a href="{% url "plusits" %}" class="plus-tooltip" title="Plusits list"><i class="icon-plusit-menu large"></i></a>
            </li>
            <li>
                <a class="plus-tooltip" href="{% url "templates" %}?language=eng" title="Templates list"><i class="icon-plusit-puzzle"></i></a>
            </li>
            <li >
                <a data-toggle="modal" href="#myModal" class="plus-tooltip" title="Help"><i class="icon-plusit-help large"></i>
                </a>
            </li>
            <li >
                <a class="plus-tooltip" href="{% url 'logout' %}" title="Logout"><i class="icon-plusit-logout large"></i></a>
            </li>
        </ul>
    {% elif current_view == 'plusit_create' %}
        <ul class="nav nav-pills">
            <li>
                <a href="{% url "plusits" %}" class="plus-tooltip" title="Plusits list"><i class="icon-plusit-menu large"></i>
                </a>
            </li>
            <li>
                <a class="plus-tooltip" href="{% url "templates" %}?language=eng" title="Templates list"><i class="icon-plusit-puzzle"></i>
                </a>
            </li>
            <li >
                <a data-toggle="modal" href="#myModal" class="plus-tooltip" title="Help"><i class="icon-plusit-help large"></i></a>
            </li>
            <li >
                <a class="plus-tooltip" href="{% url 'logout' %}" title="Logout"><i class="icon-plusit-logout large"></i></a>
            </li>
        </ul>
    {% elif current_view == 'templates' %}
        <ul class="nav nav-pills">
            <li>
                <a href="{% url "template_create" %}" class="plus-tooltip" title="Create Template"><i class="icon-plusit-plus-1 large"></i></a>
            </li>
            <li>
                <a href="{% url "plusits" %}" class="plus-tooltip" title="Plusits list"><i class="icon-plusit-menu large"></i></a>
            </li>
            <li>
                <a class="plus-tooltip" href="{% url "templates" %}?language=eng" title="Templates list"><i class="icon-plusit-puzzle"></i></a>
            </li>
            <li >
                <a data-toggle="modal" href="#myModal" class="plus-tooltip" title="Help"><i class="icon-plusit-help large"></i></a>
            </li>
            <li >
                <a class="plus-tooltip" href="{% url 'logout' %}" title="Logout"><i class="icon-plusit-logout large"></i></a>
            </li>
        </ul>
    {% elif current_view == 'template_create' %}
        <ul class="nav nav-pills">
            <li>
                <a href="{% url "plusits" %}" class="plus-tooltip" title="Plusits list"><i class="icon-plusit-menu large"></i>
                </a>
            </li>
            <li>
                <a class="plus-tooltip" href="{% url "templates" %}?language=eng" title="Templates list"><i class="icon-plusit-puzzle"></i>
                </a>
            </li>
            <li >
                <a data-toggle="modal" href="#myModal" class="plus-tooltip" title="Help"><i class="icon-plusit-help large"></i></a>
            </li>
            <li >
                <a class="plus-tooltip" href="{% url 'logout' %}" title="Logout"><i class="icon-plusit-logout large"></i></a>
            </li>
        </ul>
    {% elif current_view == 'plusit_edit' %}
        <ul class="nav nav-pills">
            <li>
                <a href="{% url "plusit" plusit_id %}" class="plus-tooltip" title="View Plusit"><i class="icon-plusit-eye"></i></a>
            </li>
            <li>
                <a href="{% url "plusits" %}" class="plus-tooltip" title="Plusits list"><i class="icon-plusit-menu large"></i></a>
            </li>
            <li>
                <a class="plus-tooltip" href="{% url "templates" %}?language=eng" title="Templates list"><i class="icon-plusit-puzzle"></i></a>
            </li>
            <li >
                <a data-toggle="modal" href="#myModal" class="plus-tooltip" title="Help"><i class="icon-plusit-help large"></i></a>
            </li>
            <li >
                <a class="plus-tooltip" href="{% url 'logout' %}" title="Logout"><i class="icon-plusit-logout large"></i></a>
            </li>
        </ul>
    {% endif %}
</div>
