{% extends "base.html" %}
{% load i18n %}
{% block title %}Create Plusit{% endblock %}
{% block localscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plusit_view.js"></script>
{% endblock %}

{% block content %}
<div>
    <div>
        <form class="form-horizontal" role="form" action="{% url 'plusit_create' %}" method="post">
            {% csrf_token %}
            <div>
            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label class="col-lg-2 control-label" for="{{field.name}}">{{field.label}}</label>
                    <div class="col-lg-10">
                        {{field}}
                        <span class="error">{{field.errors.0}}</span>
                    </div>
                </div>
            {% endfor %}
            <input class="btn btn-default" type="submit" />
            </div>
        </form>
    </div>
</div>

{% endblock %}