{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block title %}Plusits list {% endblock %}

{% block localscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/plusits.js"></script>
{% endblock %}

{% block content %}
<div class="new_user" style="display:none" data-new_user="{{new_user}}"></div>
    <div>
    <ul>
        {% paginate plusits %}
        {% for plusit in plusits %}
        <a href="{% url 'plusit' plusit.pk %}">
            <li class="plusit row breadcrumb">
                <div>
                <span>{{plusit.name}}</span>
                <div data-values="{{plusit.calculate_history.history}}" id="mini-chart{{plusit.pk}}" class="mini-chart pull-right" ></div>
                </div>
            </li>
        </a>
        {% endfor %}
        {% for i in empty_range %}
            <a href="{% url "plusit_create" %}">
            <li class="plusit row breadcrumb">
                <div>
                <span>This is empty placeholder. Create new Plusit by clicking this row. </span>
                <div data-values="[1.0, 2.0, 3, 4, 5, 4, 3, 1, 5, 6, 10]" id="mini-chart{{i}}{{i}}" class="mini-chart pull-right"></div>
                </div>
            </li>
        </a>
        {% endfor %}
        {% get_pages %}
        {% if pages|length > 1 %}
        <div class="pagination">
            {% get_pages %}
            {% for page in pages %}
                {{ page }}
            {% endfor %}
        </div>
        {% endif %}
    </ul>
    

</div>

{% endblock %}
