{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block content %}

{% block title %}Edit Plusit values {% endblock %}
{% block localcss %}
    <link href="{{ STATIC_URL }}css/datetimepicker.css" rel="stylesheet" type="text/css">
{% endblock %}

<div class="col-md-8">
    {% paginate 20 values_objects %}
    {% csrf_token %}
    <form class="form-horizontal" method="post" role="form">
        Select default charts types
        <div class="form-group">
            <div class="col-lg-10">
                <select class="form-control input-lg" id="stat_selection" name="stat_selection">
                    {% for key, value in stat_types.items %}
                    <option {% if key == stat_type %}selected{% endif %} value="{{ key }}" data-url="{% url 'stat_type_dafault' plusit_id key %}">{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        
        <div class="form-group">
            
            <div class="col-lg-10">
                <select class="form-control input-lg" id="period_type_selection" name="period_type_selection">
                    {% for key, value in periods_choices.items %}
                    <option {% if key == period_type %}selected{% endif %} value="{{ key }}" data-url="{% url 'period_type_default' plusit_id key %}">{{value}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <button class="form-control input-lg" id="plusit_delete" name="plusit_delete" data-url="{% url "plusit_delete" plusit_id %}">Delete current Plusit</button>
            </div>
        </div>
    </form>
    <table class="table">
        <th>Date</th> <th>Description</th> <th>Value</th><th>Action</th>
        <tbody>
        {% for value_object in values_objects %}
            <tr>
                <td><a href="#" class="editable editable-click value_date_editable" id="value_date_{{value_object.pk}}" data-url="{% url 'plusit_value_update' %}"
                        data-pk="{{value_object.pk}}" data-type="datetime" data-viewformat="dd/mm/yyyy" data-placement="right" >{{value_object.value_date}}</a></td>
                <td><a href="#" class='comment_editable' id="comment_editable_{{value_object.pk}}" data-url="{% url 'plusit_value_update' %}" data-pk="{{value_object.pk}}" data-type="text" >{{value_object.comment}}</a></td>
                <td><a href="#" class='value_editable' id="value_editable_{{value_object.pk}}" data-url="{% url 'plusit_value_update' %}" data-pk="{{value_object.pk}}" data-type="text" >{{value_object.value}}</a></td>
                <td><a href="{% url 'delete_historic_value' plusit_id value_object.pk %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    <ul>
        <div class="pagination">
            {% get_pages %}
            {% for page in pages %}
                {# display page link #}
                {{ page }}
            {% endfor %}
        </div>
    </ul>

</div>
{% endblock %}
{% block localscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plusit_edit.js"></script>
{% endblock %}
