{% extends "base.html" %}
{% load i18n %}
{% load qrcodes %}

{% block title %}View Plusit {% endblock %}

{% block localscripts %}
    <link href="{{ STATIC_URL }}css/alternative/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/alternative/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.zeninput.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/plusit_view.js"></script>
{% endblock %}

{% block content %}

<div>
    <div class="chart_placeholder">
        <span id="chart_data" data-values="{{ collected_data }}" style="display: none">&nbsp;</span>
        <div id="plus_big_chart" ></div>
        <button type="button" class="btn btn-default" id="reset_zoom" style="display: none">Reset zoom</button>
    </div>
    <form class="form-horizontal historic-form js-form-value" action="{% url "plusit_value" plusit.pk %}" method="post" role="form">
        {% csrf_token %}
            <div>
                <input type="hidden" name="plusit_id" value="{{plusit.pk}}" />
                <div class="form-group">
                    <div>
                        <select class="form-control input-lg" id="stat_selection" name="stat_selection">
                            {% for key, value in stat_types.items %}
                            <option {% if key == stat_type %}selected{% endif %} value="{{ key }}" data-url="{% url 'plusit' plusit.pk %}?stat_type={{key}}&period_type={{period_type}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <div>
                        <select class="form-control input-lg" id="period_type_selection" name="period_type_selection">
                            {% for key, value in periods_choices.items %}
                            <option {% if key == period_type %}selected{% endif %} value="{{ key }}" data-url="{% url 'plusit' plusit.pk %}?period_type={{key}}&stat_type={{stat_type}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                
                <div class="form-group big_height {% if form.errors.value %}has-error{% endif %}">
                    <div class="col-lg-12 input-group">
                        <input id="value" name="value" type="text" class="form-control input-lg js-calculator" placeholder="for example: 12. or: 1+2+3" required>
                        <span class="input-group-addon js-calc-trigger"><i class="icon-plusit-calculator"></i></span>
                    </div>
                    <span class="error">{{form.errors.value}}</span>
                </div>
                <div class="form-group {% if form.errors.value_date %}has-error{% endif %}">
                    <div id="value_date" class="col-lg-12 input-group date icon-time">
                        <input class="form-control input-lg" data-format="dd/MM/yyyy hh:mm:ss" type="text" name="value_date"/>
                        <span class="input-group-addon add-on">
                            <i class="icon-plusit-calendar" data-time-icon="icon-time" data-date-icon="icon-plusit-calendar"></i>
                        </span>
                        <span class="error">{{form.errors.value_date}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 input-group">
                        <input name="comment" type="text" class="form-control  input-lg" placeholder="{% trans "comment your value" %}"/>
                        <span class="input-group-addon"><i class="icon-plusit-comment"></i></span>
                    </div>
                </div>
                <div>
                    <button href="#" class="btn btn-default btn-lg  btn-block" ><i class="plus-button-icon icon-plusit-plus-1"></i></button>
                </div>

            </div>
        <div >
            {{ request.build_absolute_uri|qrcode:"ttt" }}
        </div>
    </form>
</div>

{% endblock %}
