{% extends "base.html" %}
{% load i18n %}

{% block title %}Create Plusits template {% endblock %}

{% block localscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/template_create.js"></script>
<!--script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script-->
    
{% endblock %}

{% block content %}
<div>
    <div>
        <form action="{% url 'template_create' %}" method="post" class="form-horizontal error" role="form" novalidate>
            {% csrf_token %}
            <div>
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="col-lg-2 control-label" for="{{field.name}}">{{field.label}}</label>
                        <div class="controls col-lg-10">
                            {{field}}
                            <p class="help-block"></p>
                            <span class="error">{{field.errors.0}}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Create <i class="icon-ok icon-white"></i></button><br>
            </div>

        </form>
    </div>
</div>


{% endblock %}