{% extends "base.html" %}
{% load i18n %}
{% load endless %}

{% block title %}Plusits template {% endblock %}
{% block localscripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/templates.js"></script>
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% csrf_token %}
        <ul>
            <select class="form-control input-sm" id="language_filter">
                {% for lang in languages %}
                <option value="lang.0" data-url="{% url "templates" %}?language={{lang.0}}" {% if current_lang == lang.0 %}selected{% endif %}>{{lang.1}}</option>
                {% endfor %}
            </select>
            {% paginate filter %}
            {% for template in filter %}
            <div class="accordion" id="accordion{{forloop.counter}}">
                <div class="accordion-group well">
                    <div class="accordion-heading">
                        <span><a class="badge pull-right" href="{% url "plusit_create" %}?template_id={{ template.id }}"><i class="icon-plusit-plus large"></i></a></span>
                        
                        <span><a id="down_{{template.pk}}" class="pull-right thumbs {% if template.voted == -1 %}voted{% endif %}" href="#" data-url="{% url "template_vote" template.id %}" data-vote="{% if current_vote == 'down' %}neutral{% else %}down{% endif %}"><i class="icon-plusit-thumbs-down large"></i></a></span>
                        <span id="votes{{template.pk}}" class="pull-right">{{template.vote}}</span>
                        <span><a id="up_{{template.pk}}" class="pull-right thumbs {% if template.voted == 1 %}voted{% endif %}" href="#" data-url="{% url "template_vote" template.id %}" data-vote="{% if current_vote == 'up' %}neutral{% else %}up{% endif %}"><i class="icon-plusit-thumbs-up large"></i></a></span>
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{forloop.counter}}"
                           href="#collapse{{forloop.counter}}">
                            {{ template.template_name }}
                        </a>
                    </div>
                    <div id="collapse{{forloop.counter}}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            {{ template.template_description }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% get_pages %}
            {% if pages|length > 1 %}
            <div class="pagination">
                {% get_pages %}
                {% for page in pages %}
                    {{ page }}
                {% endfor %}
            </div>
            {% endif %}
        </ul>
    </div>

{% endblock %}
