/*
 * From form generator
 *
 */
body {

    padding-bottom: 40px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}




.flat-right{
    border-radius: 0 0 0 0 !important;
}
.plus-button-vertical{
    height: 100%;
    float: left;
    border: solid;
    color: #6C9199;
    width: 48px;
    height: 135px;
    border: 1px solid #cccccc;
    border-radius: 0 4px 4px 0;
    background-color: #eeeeee;
    margin-left: 100px;
}
.plus-button-vertical .icon-plus{
    margin:auto;
    width: 100%;
    display: block;
}
.plus-button-icon{
    margin-top:33px;
    margin-left:-2px;
    font-size: 150%;
    color: black;
}

.historic-form{
    margin-left:56px
}
.mini-chart{
    width:160px;
    height:80px;
    position:absolute;
    right: 10px;
    margin:auto;
}
.plusit{
    position:relative;
}

ul
{
    list-style-type: none;
}

.form-horizontal .control-label{
  /* text-align:right; */
  text-align:left;
}

.form-horizontal .control-group .controls{
  /* margin-left:180px; */
  margin-left:10px;
}





/*
* Sticky Footer by Ryan Fait
* http://ryanfait.com/
*/
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}


.site_name a:link{ /* unvisited link */
    color:black;
    text-decoration:none;
}
.site_name a:visited { /* visited link */
    color:black;
    text-decoration:none;
}
.site_name a:hover { /* mouse over link */
    color:black;
    text-decoration:none;
}
.site_name a:active { /* selected link */
    color:black;
    text-decoration:none;
}
.alfa{
    color:red;
}

.chart_placeholder{
    margin-bottom: 24px
}

.voted{
    color: grey
}
.voted:hover {
    color: grey
}
.big_height{
    padding-top: 10px;
    padding-bottom: 12px;
}
.mobile-h1{
    text-overflow: ellipsis;
    overflow: hidden;
}