
.icon-plusit-plus-2:before { content: '\e868'; } /* '' */
.icon-plusit-plus:before { content: '\e809'; } /* '' */
.icon-plusit-plus-squared:before { content: '\e80b'; } /* '' */
.icon-plusit-home:before { content: '\e80c'; } /* '' */
.icon-plusit-keyboard:before { content: '\e823'; } /* '' */
.icon-plusit-star:before { content: '\e819'; } /* '' */
.icon-plusit-star-empty:before { content: '\e818'; } /* '' */
.icon-plusit-menu:before { content: '\e821'; } /* '' */
.icon-plusit-tools:before { content: '\e82c'; } /* '' */
.icon-plusit-cog:before { content: '\e82b'; } /* '' */
.icon-plusit-attention:before { content: '\e826'; } /* '' */
.icon-plusit-mail:before { content: '\e81a'; } /* '' */
.icon-plusit-pencil:before { content: '\e822'; } /* '' */
.icon-plusit-check:before { content: '\e820'; } /* '' */
.icon-plusit-cancel:before { content: '\e81f'; } /* '' */
.icon-plusit-cancel-circled:before { content: '\e81d'; } /* '' */
.icon-plusit-cancel-squared:before { content: '\e81e'; } /* '' */
.icon-plusit-help:before { content: '\e854'; } /* '' */
.icon-plusit-plus-circled:before { content: '\e80a'; } /* '' */
.icon-plusit-list-add:before { content: '\e84e'; } /* '' */
.icon-plusit-calculator:before { content: '\e86a'; } /* '' */
.icon-plusit-help-1:before { content: '\e85f'; } /* '' */
.icon-plusit-flow-split:before { content: '\e851'; } /* '' */
.icon-plusit-plus-outline:before { content: '\e867'; } /* '' */
.icon-plusit-plus-1:before { content: '\e853'; } /* '' */
.icon-plusit-puzzle-outline:before { content: '\e850'; } /* '' */
.icon-plusit-puzzle:before { content: '\e84f'; } /* '' */
.icon-plusit-calendar:before { content: '\e869'; } /* '' */
.icon-plusit-user-add:before { content: '\e815'; } /* '' */
.icon-plusit-eye:before { content: '\e811'; } /* '' */
.icon-plusit-comment:before { content: '\e824'; } /* '' */
.icon-plusit-chat:before { content: '\e825'; } /* '' */
.icon-plusit-vcard:before { content: '\e828'; } /* '' */
.icon-plusit-doc-text-inv:before { content: '\e82a'; } /* '' */
.icon-plusit-share:before { content: '\e82d'; } /* '' */
.icon-plusit-login-1:before { content: '\e864'; } /* '' */
.icon-plusit-logout-2:before { content: '\e862'; } /* '' */
.icon-plusit-logout-1:before { content: '\e861'; } /* '' */
.icon-plusit-drive:before { content: '\e802'; } /* '' */
.icon-plusit-suitcase:before { content: '\e800'; } /* '' */
.icon-plusit-brush:before { content: '\e801'; } /* '' */
.icon-plusit-cc-nc-jp:before { content: '\e803'; } /* '' */
.icon-plusit-cc-nd:before { content: '\e804'; } /* '' */
.icon-plusit-cc-remix:before { content: '\e866'; } /* '' */
.icon-plusit-spin5:before { content: '\e807'; } /* '' */
.icon-plusit-spin6:before { content: '\e808'; } /* '' */
.icon-plusit-marquee:before { content: '\e865'; } /* '' */
.icon-plusit-login:before { content: '\e863'; } /* '' */
.icon-plusit-logout:before { content: '\e860'; } /* '' */
.icon-plusit-github:before { content: '\e834'; } /* '' */
.icon-plusit-github-circled:before { content: '\e835'; } /* '' */
.icon-plusit-flickr:before { content: '\e836'; } /* '' */
.icon-plusit-flickr-circled:before { content: '\e837'; } /* '' */
.icon-plusit-vimeo:before { content: '\e838'; } /* '' */
.icon-plusit-vimeo-circled:before { content: '\e839'; } /* '' */
.icon-plusit-twitter:before { content: '\e83a'; } /* '' */
.icon-plusit-twitter-circled:before { content: '\e83b'; } /* '' */
.icon-plusit-facebook:before { content: '\e83c'; } /* '' */
.icon-plusit-facebook-circled:before { content: '\e83d'; } /* '' */
.icon-plusit-facebook-squared:before { content: '\e83e'; } /* '' */
.icon-plusit-gplus:before { content: '\e83f'; } /* '' */
.icon-plusit-gplus-circled:before { content: '\e840'; } /* '' */
.icon-plusit-pinterest:before { content: '\e841'; } /* '' */
.icon-plusit-pinterest-circled:before { content: '\e842'; } /* '' */
.icon-plusit-tumblr:before { content: '\e843'; } /* '' */
.icon-plusit-tumblr-circled:before { content: '\e844'; } /* '' */
.icon-plusit-linkedin:before { content: '\e845'; } /* '' */
.icon-plusit-linkedin-circled:before { content: '\e846'; } /* '' */
.icon-plusit-dribbble:before { content: '\e847'; } /* '' */
.icon-plusit-dribbble-circled:before { content: '\e805'; } /* '' */
.icon-plusit-stumbleupon:before { content: '\e848'; } /* '' */
.icon-plusit-stumbleupon-circled:before { content: '\e849'; } /* '' */
.icon-plusit-lastfm:before { content: '\e84a'; } /* '' */
.icon-plusit-lastfm-circled:before { content: '\e84b'; } /* '' */
.icon-plusit-rdio:before { content: '\e85e'; } /* '' */
.icon-plusit-rdio-circled:before { content: '\e85d'; } /* '' */
.icon-plusit-spotify:before { content: '\e85c'; } /* '' */
.icon-plusit-spotify-circled:before { content: '\e85b'; } /* '' */
.icon-plusit-qq:before { content: '\e85a'; } /* '' */
.icon-plusit-instagram:before { content: '\e806'; } /* '' */
.icon-plusit-dropbox:before { content: '\e859'; } /* '' */
.icon-plusit-evernote:before { content: '\e858'; } /* '' */
.icon-plusit-flattr:before { content: '\e857'; } /* '' */
.icon-plusit-skype:before { content: '\e856'; } /* '' */
.icon-plusit-skype-circled:before { content: '\e855'; } /* '' */
.icon-plusit-paypal:before { content: '\e852'; } /* '' */
.icon-plusit-google-circles:before { content: '\e84d'; } /* '' */
.icon-plusit-vkontakte:before { content: '\e84c'; } /* '' */
.icon-plusit-picture:before { content: '\e814'; } /* '' */
.icon-plusit-thumbs-up:before { content: '\e80f'; } /* '' */
.icon-plusit-thumbs-down:before { content: '\e810'; } /* '' */
.icon-plusit-user:before { content: '\e817'; } /* '' */
.icon-plusit-users:before { content: '\e816'; } /* '' */
.icon-plusit-alert:before { content: '\e827'; } /* '' */
.icon-plusit-monitor:before { content: '\e82e'; } /* '' */
.icon-plusit-floppy:before { content: '\e833'; } /* '' */
.icon-plusit-doc-text:before { content: '\e829'; } /* '' */
.icon-plusit-chart-line:before { content: '\e830'; } /* '' */
.icon-plusit-chart-bar:before { content: '\e831'; } /* '' */
.icon-plusit-bookmarks:before { content: '\e80e'; } /* '' */
.icon-plusit-mobile:before { content: '\e82f'; } /* '' */
.icon-plusit-search:before { content: '\e81c'; } /* '' */
.icon-plusit-lock:before { content: '\e813'; } /* '' */
.icon-plusit-lock-open:before { content: '\e812'; } /* '' */
.icon-plusit-bookmark:before { content: '\e80d'; } /* '' */
.icon-plusit-flashlight:before { content: '\e81b'; } /* '' */
.icon-plusit-chart-area:before { content: '\e832'; } /* '' */