@black: #000000;
@gray: #b9c0c6;
@grayDark: #b7bec3;
@grayDarker: #727a85;
@grayLight: #999;
@grayLighter: #e0e1e2;
@white: #636c78;
@blue: #049cdb;
@blueDark: #0064cd;
@green: #46a546;
@red: #9d261d;
@yellow: #ffc40d;
@orange: #f89406;
@pink: #c3325f;
@purple: #7a43b6;
@bodyBackground: @white;
@textColor: @grayDark;
@linkColor: #727a85;
@linkColorHover: darken(@linkColor, 15%);
@hrBorder: @grayLighter;
@sansFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
@serifFontFamily: Georgia, 'Times New Roman', Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, 'Courier New', monospace;
@baseFontSize: 14px;
@baseLineHeight: 20px;
@headingsColor: inherit;
@headingsFontFamily: inherit;
@headingsFontWeight: bold;
@baseFontFamily: @sansFontFamily;
@altFontFamily: @serifFontFamily;
@tableBackground: #7C838D;
@tableBackgroundAccent: #727A85;
@tableBackgroundHover: #9DA3AB;
@tableBorder: #636c78;
@btnBackground: @white;
@btnBackgroundHighlight: darken(@white, 10%);
@btnBorder: #636c78;
@btnDangerBackground: #ee5f5b;
@btnDangerBackgroundHighlight: #bd362f;
@btnInfoBackground: #5bc0de;
@btnInfoBackgroundHighlight: #2f96b4;
@btnInverseBackground: #444;
@btnInverseBackgroundHighlight: @grayDarker;
@btnPrimaryBackground: @linkColor;
@btnPrimaryBackgroundHighlight: spin(@btnPrimaryBackground, 15%);
@btnSuccessBackground: #62c462;
@btnSuccessBackgroundHighlight: #51a351;
@btnWarningBackground: lighten(@orange, 15%);
@btnWarningBackgroundHighlight: @orange;
@inputBackground: #36404A;
@inputBorder: #727a85;
@inputBorderRadius: @baseBorderRadius;
@inputDisabledBackground: @grayLighter;
@formActionsBackground: #f5f5f5;
@placeholderText: @grayLight;
@inputHeight: @baseLineHeight + 10px;
@dropdownBackground: #e0e1e2;
@dropdownBorder: rgba(0,0,0,.2);
@dropdownDividerBottom: @white;
@dropdownDividerTop: #e5e5e5;
@dropdownLinkColor: #636c78;
@dropdownLinkColorHover: #e0e1e2;
@dropdownLinkColorActive: @white;
@dropdownLinkBackgroundActive: #727a85;
@dropdownLinkBackgroundHover: #727a85;
@iconSpritePath: '../../img/glyphicons-halflings.png';
@iconWhiteSpritePath: '../../img/glyphicons-halflings-white.png';
@navbarBackground: #636c78;
@navbarBackgroundHighlight: #353D48;
@navbarBorder: darken(@navbarBackground, 12%);
@navbarBrandColor: @navbarLinkColor;
@navbarHeight: 40px;
@navbarLinkBackgroundActive: darken(@navbarBackground, 5%);
@navbarLinkBackgroundHover: transparent;
@navbarLinkColor: @grayLight;
@navbarLinkColorActive: @gray;
@navbarLinkColorHover: @grayDark;
@navbarSearchBackground: lighten(@navbarBackground, 25%);
@navbarSearchBackgroundFocus: @white;
@navbarSearchBorder: darken(@navbarSearchBackground, 30%);
@navbarSearchPlaceholderColor: #ccc;
@navbarText: @grayLight;
@navbarCollapseWidth: 979px;
@navbarCollapseDesktopWidth: @navbarCollapseWidth + 1;
@navbarInverseBackground: #111111;
@navbarInverseBackgroundHighlight: #222222;
@navbarInverseBorder: #252525;
@navbarInverseText: @grayLight;
@navbarInverseLinkColor: @grayLight;
@navbarInverseLinkColorHover: @white;
@navbarInverseLinkColorActive: @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover: transparent;
@navbarInverseLinkBackgroundActive: @navbarInverseBackground;
@navbarInverseSearchBackground: lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus: @white;
@navbarInverseSearchBorder: @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor: #ccc;
@navbarInverseBrandColor: @navbarInverseLinkColor;
@heroUnitBackground: @grayLighter;
@heroUnitHeadingColor: #636c78;
@heroUnitLeadColor: #7C838D;
@paginationBackground: #fff;
@paginationBorder: #ddd;
@paginationActiveBackground: #f5f5f5;
@tooltipColor: #fff;
@tooltipBackground: #000;
@tooltipArrowWidth: 5px;
@tooltipArrowColor: @tooltipBackground;
@popoverBackground: #fff;
@popoverArrowWidth: 10px;
@popoverArrowColor: #fff;
@popoverTitleBackground: darken(@popoverBackground, 3%);
@popoverArrowOuterWidth: @popoverArrowWidth + 1;
@popoverArrowOuterColor: rgba(0,0,0,.25);
@warningBackground: #fcf8e3;
@warningBorder: darken(spin(@warningBackground, -10), 3%);
@warningText: #636c78;
@errorBackground: #f2dede;
@errorBorder: darken(spin(@errorBackground, -10), 3%);
@errorText: #b94a48;
@successBackground: #dff0d8;
@successBorder: darken(spin(@successBackground, -10), 5%);
@successText: #468847;
@infoBackground: #d9edf7;
@infoBorder: darken(spin(@infoBackground, -10), 7%);
@infoText: #3a87ad;
@wellBackground: #f5f5f5;
@gridColumnWidth: 60px;
@gridColumns: 12;
@gridGutterWidth: 20px;
@fontSizeLarge:         @baseFontSize * 1.25;
@fontSizeSmall:         @baseFontSize * 0.85;
@fontSizeMini:          @baseFontSize * 0.75;
@paddingLarge:          11px 19px;
@paddingSmall:          2px 10px;
@paddingMini:           0px 6px;
@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;
@horizontalComponentOffset: 180px;
@gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));
@gridColumnWidth1200:     70px;
@gridGutterWidth1200:     30px;
@gridRowWidth1200:        (@gridColumns * @gridColumnWidth1200) + (@gridGutterWidth1200 * (@gridColumns - 1));
@gridColumnWidth768:      42px;
@gridGutterWidth768:      20px;
@gridRowWidth768:         (@gridColumns * @gridColumnWidth768) + (@gridGutterWidth768 * (@gridColumns - 1));
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);
@fluidGridColumnWidth1200:     percentage(@gridColumnWidth1200/@gridRowWidth1200);
@fluidGridGutterWidth1200:     percentage(@gridGutterWidth1200/@gridRowWidth1200);
@fluidGridColumnWidth768:      percentage(@gridColumnWidth768/@gridRowWidth768);
@fluidGridGutterWidth768:      percentage(@gridGutterWidth768/@gridRowWidth768);
@zindexDropdown: 1000;
@zindexFixedNavbar: 1030;
@zindexModal: 1050;
@zindexModalBackdrop: 1040;
@zindexPopover: 1010;
@zindexTooltip: 1030;